.picture{
    height: fit-content;
    width: 80vw;
    max-width: 400px;
    border: 4px black solid;
}

#time-input{
    width: fit-content;
    font-size: 20px;
    border: 0px;
    background-color: hsl(0, 0%, 90%);
    border: 0px transparent solid;
    border-radius: 30%;
    text-align: right;
}

#time-input-text{
    display: flex;
    margin-right: 20px;
}

#time-input-text p{
    width: fit-content;
    font-size: 25px;
    border: 0px;
    background-color: whitesmoke;
    margin-top: 00px;   
    margin-bottom: 00px;   
}

#time-input-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width:100vw;
    font-size: 20px;
    border: 0px;
    background-color: whitesmoke;
    padding-bottom: 20px;
    padding-right: 20px;
    max-width: 80vw;
    
}

#confirm-order-button{
    color: white;
    background-color: #00802D;
    width: 100px;
    margin-right: 20px;
}
#add-favorite-button{
    border: 2px black solid;
    width: 100px;
    text-align: center;
}

#entire-page-product-page{
    width: 100vw;
    display: flex;
    flex-direction: column;
}

#entire-page-product-page section{
    padding-right: 10vw;
    padding-left: 10vw;
}

#product-img-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #37f71597;
    width: 80vw;
    padding-top: 50px;
    padding-bottom: 50px;
}

#product-descripition{
    font-size: inherit;
    color: black;
    margin-top: 00px;
    max-width: 80vw;
    margin-left: 10px;
}

#product-descripition span{
font-weight: bold;
}

#description-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: inherit;
}

#img-container{
    height: fit-content;
    min-height: 315px;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.783);
    display: flex;
    align-items: center;
    justify-content: center;
}

#calender-section{
    display: flex;
    width: 80vw;
    background-color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10vw;
}

#calender-container{
    width: 80vw;
    max-width: 410px;
}

#pic-index{
    position: absolute;
    color: white;
    align-self: flex-end;
    justify-self: center;
}